@rendermode InteractiveAuto

<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Custom navigation menu">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())">Home</FluentNavLink>
        <FluentNavLink Href="gaming-systems" Icon="@(new Icons.Regular.Size20.Games())">Systems</FluentNavLink>
        <FluentNavLink Href="stats" Icon="@(new Icons.Regular.Size20.DataHistogram())">Stats</FluentNavLink>
        <FluentNavLink Href="logs" Icon="@(new Icons.Regular.Size20.Notepad())">Logs</FluentNavLink>
    </FluentNavMenu>
</nav>
