@page "/logs"
@using RetroPie.Manager.Web.Models.DTOs
@using Microsoft.Extensions.Options
@inject IOptions<RetroPieManagerSettings> RetroPieSettings
@attribute [StreamRendering]

@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Logs | RetroPie Manager</PageTitle>

<h1>Logs</h1>

@if (!_isLoaded)
{
    <FluentGrid Spacing="3" Justify="JustifyContent.Center">
        <FluentProgressRing/>
    </FluentGrid>
}
else
{
    <FluentGrid>
        <FluentGridItem xs="12" sm="8">
            <FluentCard>
                <pre>@_fileContent</pre>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="4">
            <FluentCard Style="height: 100%">
                Log files:
                <ul>
                    @if (_files != null)
                    {
                        foreach (var file in _files)
                        {
                            <li>
                                <a href="javascript:;" @onclick="() => ReadFile(file)" @onclick:preventDefault>@file</a>
                            </li>
                        }
                    }
                    @if (_gameLog != null)
                    {
                        <li>
                            <a href="javascript:;" @onclick="() => ReadFile(_gameLog)" @onclick:preventDefault>@_gameLog</a>
                        </li>
                    }
                </ul>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
}

@code
{
    private bool _isLoaded;
    private string[]? _files;
    private string? _fileContent;
    private string? _gameLog;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);

        _gameLog = RetroPieSettings.Value.GameLogs;
        var directoryPath = RetroPieSettings.Value.EmulationStationPath;
        const string fileName = "es_log.txt";
        _fileContent = "";

        if (Directory.Exists(directoryPath))
        {
            _files = Directory.GetFiles(directoryPath)
                .Where(file => Path.GetFileName(file).Contains(fileName))
                .ToArray();

            var fullPath = Path.Combine(directoryPath, fileName);
            if (_files.Contains(fullPath))
            {
                await ReadFile(fullPath);
            }
        }

        _isLoaded = true;
    }

    private async Task ReadFile(string fullPath)
    {
        await using var stream = new FileStream(fullPath, FileMode.Open);
        using var reader = new StreamReader(stream);
        _fileContent = await reader.ReadToEndAsync();
    }
}